body {
  background-color: #000000;
  background-image: linear-gradient(0deg, #ffffff69 1px, transparent 1px),
  linear-gradient(90deg, #ffffff69 1px, transparent 1px);
  background-size: 35px 35px;
  font-family:  "JetBrains Mono", monospace;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;

}

.font-jetbrains {
  font-family: "JetBrains Mono", monospace;
}
.font-manjari {
  font-family: "Manjari", sans-serif;
}
.font-cursive {
  font-family: "Edu NSW ACT Cursive", cursive;
}

h1{
  font-size: 32px !important;
  font-weight: bold;
}

h2, h3, h4, h5, h6 {
  font-size: 24px;
  font-weight: bold;
  margin: 16px 0;
}

p {
  font-size: 16px;
  line-height: 1.6;
  margin: 16px 0;
}

a {
  font-size: 16px;
  text-decoration: none;
}


.sbar-hide {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.sbar-hide::-webkit-scrollbar {
  display: none;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}

.skill-list {
  padding: 10px;
  font-size: 1rem;
  line-height: 2rem;
}

.skill-list li {
  margin-bottom: 16px;
}

.skill-list span {
  border: solid 1px #ffffff69;
  border-radius: 50px;
  padding: 1px 10px ;
}

.reveal {
  opacity: 0;
  transition: opacity 0.6s ease;
  transition-delay: var(--delay);
}

.reveal.visible {
  opacity: 1;
}

.bigger{
  position: relative;
  font-size: large;
  transition: all 0.3s ease;
}

.project-grid a{
  opacity: 0.5;
  transition: all 0.3s ease;
  border: dashed 1px #ffffff69;
  padding:  3px 5px;
}
.project-grid a:hover{
  opacity: 1;
  /* text-decoration: underline dashed; */
  border: solid 1px #ffffff69;
}