body {
  background-color: #000000;
  background-image: linear-gradient(0deg, #ffffff69 1px, transparent 1px),
  linear-gradient(90deg, #ffffff69 1px, transparent 1px);
  background-size: 35px 35px;
  font-family:  "JetBrains Mono", monospace;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;

}

h1{
  font-size: 32px !important;
  font-weight: bold;
}

h2, h3, h4, h5, h6 {
  font-size: 24px;
  font-weight: bold;
  margin: 16px 0;
}

p {
  font-size: 16px;
  line-height: 1.6;
  margin: 16px 0;
}

a {
  font-size: 16px;
  text-decoration: none;
}


.sbar-hide {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.sbar-hide::-webkit-scrollbar {
  display: none;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}

.skill-list {
  padding: 10px;
  font-size: 1rem;
  line-height: 2rem;
}

.skill-list li {
  margin-bottom: 16px;
}

.skill-list span {
  border: solid 1px #ffffff69;
  border-radius: 50px;
  padding: 1px 10px ;
}

.reveal {
  opacity: 0;
  transform: translateY(20%);
  animation: scroll-up 0.6s forwards;
  animation-delay: var(--delay);
}

.bigger{
  letter-spacing: 0;
  position: relative;
  font-size: large;
  transition: all 0.3s linear(0, 0.1, 0.25, 0.5, 0.68, 0.8, 0.88, 0.94, 0.98, 0.995, 1);
}
.bigger:hover{
  letter-spacing: 0.2ch;
  font-size: 1.5rem;
  cursor: zoom-in;
}

@keyframes scroll-up {
  from {
    transform: translateY(10%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}