body {
  background-color: #000000;
  background-image: linear-gradient(0deg, #ffffff69 1px, transparent 1px),
  linear-gradient(90deg, #ffffff69 1px, transparent 1px);
  background-size: 35px 35px;
  font-family: monospace;
  overflow: hidden;
}

h1{
  font-size: 32px !important;
  font-weight: bold;
}

h2, h3, h4, h5, h6 {
  font-size: 24px;
  font-weight: bold;
  margin: 16px 0;
}

p {
  font-size: 16px;
  line-height: 1.6;
  margin: 16px 0;
}

a {
  font-size: 16px;
  text-decoration: none;
}


.sbar-hide {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.sbar-hide::-webkit-scrollbar {
  display: none;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}

.skill-list {
  padding: 10px;
  font-size: 1rem;
  line-height: 2rem;
}

.skill-list li {
  margin-bottom: 16px;
}

.skill-list span {
  border: solid 1px #ffffff69;
  border-radius: 50px;
  padding: 1px 10px ;
}

.demo-scroll {
  animation-name: scroll-up;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes scroll-up {
  from {
    transform: translateY(-20%);
  }
  to {
    transform: translateY(0);
  }
}