body{
    background: #1a1a1a;
    color: #fff;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    font-family: monospace, 'Noto Sans Malayalam';
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    gap: 1vw;
}

@media (max-width : 500px) {
    body{
        padding: 5vh 5vw;
        flex-direction: column-reverse;
        gap: 2vh; 
    }
}

div{
    max-width: 500px;
}

table, th, td {
    width: 200px;
    background: #000;
    margin: 0 auto;
    border-collapse: collapse;
    color: #fff;
    border: solid 2px #fff;
    border-radius: 100px;
    gap: 10px;
}

a{
    color: #fff;
    text-decoration: none;
    letter-spacing: 0.2ch;
}

.display{
    color: #000;
    width: 300px;
    height: 100px;
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px;
    background-color: #e0e0e09e;

}

.display span{
    font-size: 1.5em;
    width: 100%;
    text-align: right;
    overflow-wrap: break-word;
}

.ctrls-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 300px;
    margin: 20px auto;
}

.ctrls-container span{
    background-color: #000000;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    font-size: 1.2em;
}
